@import "variable";

body, html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;

}

@font-face {
  font-family: 'iconfont';  /* project id 1502110 */
  src: url('//at.alicdn.com/t/font_1502110_j1q1ige59hq.eot');
  src: url('//at.alicdn.com/t/font_1502110_j1q1ige59hq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1502110_j1q1ige59hq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1502110_j1q1ige59hq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1502110_j1q1ige59hq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1502110_j1q1ige59hq.svg#iconfont') format('svg');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search::before {
  content: "\e8ef"
}
.icon-menu::before {
  content: "\e7f4"
}
.icon-left::before {
  content: "\e7eb";
}

.icon-down::before {
  content: "\e7ec";
}

.icon-stop::before {
  content: "\e847";
}
.icon-play::before {
  content: "\e848";
}

.icon-mini-stop::before {
  content: "\e62d";
}
.icon-mini-play::before {
  content: "\e633";
}

.icon-loop::before {
  content: "\e61f";
}
.icon-sequence::before {
  content: "\e600";
}
.icon-random::before {
  content: "\e601";
}

.icon-prev::before {
  content: "\e641";
}
.icon-next::before {
  content: "\e642";
}
.icon-like::before {
  content: "\e849";
}
.icon-dislike::before {
  content: "\e7df";
}
.icon-list::before {
  content: "\e7f5";
}